* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: american typewriter;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 4vw;
}

h1, h2, h3, h4, p, a {
  margin: 0;
}

/* ::-webkit-scrollbar { display: none; } */

h1 {
  font-size: 8vh;
  font-weight: 600;
  text-transform: lowercase;
}

h2 {
  margin: 0.25rem 0em 0.25rem 0em;
  font-size: 4.5rem;
  font-weight: 300;
}

h3 {
  margin: 0;
  font-size: 2em;
  font-weight: 100;
}

h4 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

.page-header {
  align-self: flex-end;
  margin-bottom: 6rem;
}

.subtitle {
  color: #808080;
  font-family: 'Raleway';
  font-size: 1.375rem;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

p {
  font-size: 1em;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 1.75rem;
}

li {
  line-height: 2rem;
}

input[type="text"], input[type="password"] {
  background: #ffffff;
  border: 1px dotted #808080;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 24px;
}

#left {
  display: block;
  width: 7rem;
  padding-right: 5em;
  overflow: hidden;
}

#left:hover {
  cursor: pointer;
}

.content {
  margin-top: 100px;
}

#header {
  width: 100%;
  height: 20vh;
  margin-left: 10vw;
  margin-top: 5vh;
  margin-bottom: 10em;
  text-align: right;
}

#full_work {
  min-width: 65vw;
  overflow-x: hidden;
}

#work {
  height: 100vh;
  padding-left: 25vw;
  padding-right: 10vw;
  width: 65vw;
  align-self: flex-end;
}

#work, #full_work {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#info {
  margin-left: 2vw;
  margin-right: 2vw;
}

#info p {
  line-height: 2em;
}

#info > a {
  display: block;
  font-size: .8em;
  color: black;
  line-height: 2em;
}

#info > a:hover {
  font-weight: 600;
}

nav {
  margin-top: 100px;
  position: sticky;
  top: 0;
  white-space: nowrap;
}

nav a {
  display: block;
  font-weight: 300;
  line-height: 3em;
}

nav a:hover {
  font-weight: 600;
  color: black;
}

.page-nav {
  margin-bottom: 3rem;
}

.page-nav a {
  line-height: 2em;
}

.selected {
  font-weight: 600;
  font-size: 1.25em;
  color: black;
}

.inview {
  font-weight: 600;
  color: black;
}

.vertical {
  display: inline-block;
  white-space: nowrap;
  transform-origin: top right;
  transform: translate(-100%) rotate(-90deg);
  margin-top: 10px;
}

#pagenav {
  margin-bottom: 3em;
}

#pagenav a {
  font-size: .9em;
  line-height: 1.75em;
}

.two-column-layout > div:first-child {
  margin-right: 3rem;
}

.block-copy, .block-copy-alt, .image-copy {
  margin-bottom: 2rem;
}

.block-title {
  color: #4C93C3;
  font-weight: bold;
  line-height: 1.75rem;
}

.block-text {
  font-weight: 400;
  line-height: 1.75rem;
}

.block-title-alt {
  color: #181818;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 1.5rem;
}

.block-subtitle-alt {
  color: #181818;
  font-weight: 500;
  line-height: 1.25rem;
}

.block-text-alt {
  color: #575757;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.image-copy {
  align-self: center;
  color: #3F4C56;
  width: 25%;
}

.image-title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 2rem;
  margin-bottom: 2.25rem;
}

.image-text {
  font-style: italic;
  line-height: 1.75rem;
}

#individual_project {
  display: flex;
  flex-direction: column;
}

#individual_project > div {
  margin-bottom: 0em;
}

#individual_project > video {
  margin-bottom: 7em;
}

#individual_project > div h2 {
  font-weight: 600;
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#individual_project > div > p {
  width: 100%;
}

#individual_project b {
  font-size: 1.15em;
  font-weight: 600;
}

#individual_project h2 {
  width: 100%;
}

#individual_project video {
  width: 75%;
  align-self: center;
}

#overview img {
  width: 100%;
  object-fit: contain;
}

.attribute {
  font-size: .5em !important;
  color: #696969;
  margin-top: 1em;
}

#related_projects {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.related_project {
  margin-right: 25px;
  line-height: 1.5em;
  width: 100%;
}

.related_project img {
  width: 100%;
  height: 7em;
  object-fit: cover;
  margin-top: 2em;
}

.related_project h1 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: .5em;
}

.related_project:hover {
  cursor: pointer;
}

.related_project p {
  font-weight: 300;
  font-size: .8em;
}
.related_project a {
  font-weight: 300;
  font-size: .8em;
}

.related_project a:hover {
  font-weight: 600;
}

#team_tools {
  display: flex;
}

#team_tools h2 {
  font-size: 1.75em !important;
  margin-bottom: 1em !important;
}

#team {
  width: 60%;
}

#tools p {
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 200;
}

#team_stats {
  display:flex;
  flex-direction: row;
  line-height: normal;
  width: 100%;
}

#team_stats div {
  width: 100%;
  display:flex;
  flex-direction: column;
}

#team_stats .number {
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1em;
}

#team_stats .major {
  font-size: .9em;
  margin-bottom: 1.75em;
  font-weight: normal;
}
#team_stats p {
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 200;
}

#documentation {
  margin-bottom: 5em;
}

#documentation a {
  margin-left: 1em;
}

hr {
  width: 30%;
  margin: 3em auto 3em auto;
  border-top: .25px solid rgba(0, 0, 0, 0.5);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: .3em;
  margin: 5px;
  color: #DDDDDD
}

#top {
  display: none;
}

.card {
  background: white;
  border: 1px solid #4C93C3;
  border-radius: 16px;
  box-shadow: 10px 8px 8px rgba(76, 147, 195, 0.1);
  margin: 0 3rem;
  padding: 3rem;
}

@media only screen and (max-width: 1440px) {
  .image-copy {
    align-self: flex-start;
    padding-top: 5rem;
    padding-right: 7rem;
    width: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .block-copy {
    padding: 0;
  }

  .card {
    margin: 0;
  }

  .two-column-layout {
    flex-direction: column;
  }

  .two-column-layout > div {
    margin-bottom: 2rem;
  }

  .two-column-layout > div:first-child {
    margin-right: 0;
  }

  .three-column-layout {
    flex-direction: column;
  }

  .three-column-layout > div {
    margin-bottom: 2rem;
  } 
}

@media only screen and (min-height: 1000px) {
  h1 {
    font-size: 6em;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }

  nav {
    margin-top: 50px;
  }

  #left h1 {
    font-size: 7vh;
  }

  #left {
    width: 100%;
    border-bottom: .25px solid rgba(0, 0, 0, 0.25);
  }

  #info {
    position: fixed;
    top: 15vh;
    left: 5vh;
    margin: 0;
    padding: 0;
  }

  .content {
    margin-top: 0;
  }

  #full_work {
    margin: 0;
    padding: 0;
    padding-left: 25vw;
    padding-right: 0;
    width: auto;
  }

  #work {
    margin: 0;
    padding: 0;
    padding-left: 20vw;
    padding-right: 5vh;
    width: auto;
    height: 85vh;
  }

  .vertical {
    transform: none;
    margin-top: 0;
  }
}
