/*height: 475px; changed to auto to adjust text to bg*/
.banner-container {
  height: auto;
  border-radius:16px;
 
}

.section-1-banner {
  background: url('../images/overview-intro.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.learnings-card {
  margin-top: -6rem;
}

.negative-card {
  margin-top: -11rem;
}

.negative-block-copy {
  align-self: flex-end;
  margin-top: -18rem;
  padding-bottom: 6rem;
  width: 48%;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto minmax(0, 1fr) minmax(0, 1fr);
}

.grid-item {
  display: flex;
  outline: 1px solid #808080;
  padding: 1.25rem;
}

.small-grid-item {
  max-width: 12rem;
}

.sketches-content {
  padding: 2rem 9.5rem;
}

.sketches-content .img-1-container {
  width: 65%;
}

.sketches-content .img-2-container {
  width: 35%;
}

.solution-content {
  padding: 2.5rem;
  border-radius: 16px;
}

.solution-section .two-column-layout {
  padding: 0 3.25rem;
}

.solution-section .two-column-layout.dense {
  padding: 0;
}

.solution-section .two-column-layout.dense > .card,
.solution-section .three-column-layout > .card {
  margin: 0;
  margin-right: 2.5rem;
}

.solution-section .two-column-layout.dense > .card:last-child,
.solution-section .three-column-layout > .card:last-child {
  margin: 0;
}

.solution-section .img-1 {
  width: 85%;
}

.solution-section .img-2 {
  width: 65%;
}

.solution-section .img-3 {
  width: 60%;
}

.imageContainer2 {

}

/* Image Container Styling */ /* Image Stack Styling */
.image-stack {
  position: relative;
  display: flex; /* Use flexbox to arrange images */
  flex-direction: row; /* Stack images vertically by default */
  align-items: left; /* Center images horizontally */
  gap: 0px; /* Spacing between images */
  width: 100%; /* Make the container take full width */
}

.static-image {
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

.overlay-image {
	position: absolute;
	top: 39;
	left: 142;
	width: 72%;
	height: 72%;
	object-fit: contain;
	transition: opacity 0.3s ease;
}

.overlay-image2 {
  position: absolute;
  top: 54;
  left: 90;
  width: 50%;
  height: 25%;
  
  object-fit: contain;
  /*Or'cover'dependingonhowyouwantittofit*/transition: opacity 0.3s ease;
   /* Smooth transition for showing/hiding */
}

.overlay-image3 {
  position: absolute;
  top: 54;
  left: 90;
  width: 50%;
  height:50%;
  opacity:1;
  object-fit: contain;
  /*Or'cover'dependingonhowyouwantittofit*/transition: opacity 0.3s ease;
  /*Smoothtransitionforshowing/hiding*/:;
}


/* Image Styling */
.imageContainer img {
  display:flex;
  flex-direction:column;
  max-width: 100%; /* Make images responsive within their container */
  height: auto; /* Maintain aspect ratio */
  border: 1px solid #ccc; /* Optional: Add a light border */
  border-radius: 5px; /* Optional: Slightly rounded corners */
}

.button2 {
	box-sizing: border-box;
	display: inline-grid;
	flex-direction: row;
	justify-content: center;
	padding: 6px 18px;
   min-width: 72px;
	/* gap: 5px; */
	margin-top: 1rem;
	border-radius: 4px;
	border: 1.1px dotted #222222;
	background: #ffffff;
	margin-bottom: 1rem;

}

.button2:active {
  background: goldenrod;
  border: 1px solid #222222;
  color: #222222;
}

// Media Queries for Responsive Design 

@media only screen and (max-width: 1650px) {
  .negative-block-copy {
    margin-top: -14rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 1440px) {
  .sketches-content {
    padding: 2rem 4rem;
  }

  .sketches-content .two-column-layout {
    flex-direction: column;
  }

  .sketches-content .img-1-container {
    width: 100%;
  }
  
  .sketches-content .img-2-container {
    width: 100%;
  }

  .negative-block-copy {
    margin-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .section-1-banner {
    background-image: url('../images/overview-intro-mobile.png');
  }
}

@media only screen and (max-width: 1280px) {
  .solution-section .two-column-layout.dense > .card,
  .solution-section .three-column-layout > .card {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .solution-section .img-1 {
    width: 100%;
  }
  
  .solution-section .img-2 {
    width: 100%;
  }
  
  .solution-section .img-3 {
    margin-bottom: 2.5rem;
    width: 100%;
  }

  .solution-section .two-column-layout {
    padding: 0;
  }

  .negative-card {
    margin-top: 0;
  }

  .learnings-card {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}
