.allinone-page .hidden-content {
  overflow-y:hidden;
  height:0;
  transition: height 0.4s ease;
}

.allinone-page .show-content {
  overflow-y:visible;
  height:auto;
  transition: height 0.4s ease;
}

.allinone-page .spacing {
  min-height: 200px;
}

/* Only affects .intro-text inside #overview inside .allinone-page */
.allinone-page #overview .intro-text {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.allinone-page #overview .intro-text-subtitle {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 1rem;
  white-space: wrap;
}

.allinone-page #overview {
  background-color: #FAF7EF;
}

body, .allinone-page {
  background-color: #FAF7EF !important;
}

.allinone-page .submenu-header {
  color: #B33F3F;
}

/* Make .hidden global so it works anywhere */
.hidden {
  display: none !important;
}

.interactive-gif {
  border: #000 .4px solid;
  border-radius: 16px;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.interactive-gif-size {
  max-width: 70%;
  height: fit-content;
  object-fit: cover;
}

.reveal-wrapper {
  display: flex;
  flex-wrap: wrap;
 /* gap: 2rem;*.
 /* margin-bottom: 2rem;*/
}

.reveal-card {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 300px;
  min-width: 250px;
  max-width: 400px;
}

.allinone-page .prototype-img {
  border-radius: 0.25rem;
  border: 0.4px solid #000;
  background: #FFF;
  display: inline-block;
  padding: .1rem;
  flex-direction: column;
  align-items: flex-start baseline;
  gap: 1rem;
  width: 100%;
  object-fit: contain;
  
  /* keeps aspect ratio, crops if needed */
}

.allinone-page .research-img {
  border-radius: 0.25rem;
  border: 0.4px solid #000;
  background: #FFF;
  display: inline-block;
  padding: .1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
 max-width:80%;
  object-fit: fill;/* keeps aspect ratio, crops if needed */
}

.image-crop-wrapper {
  width: auto;          /* adjust as needed */
  height: 200px;         /* crop height */
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.allinone-page .sketch-img {
  width: auto;
  height: auto;
  display:inline-grid;
  border: 0.4px solid #000;
  object-fit: cover;          
border-radius: 16px;
align-items:center;
}



.image-stack-papersketches{
    max-width: 100%;
    height: auto;
    display: block;

    /* Optional: add border-radius or box-shadow if needed */
}
.image-stack {
    width: 100%;
}

.image-stack-papersketches {
    width: 100%;
    object-fit: contain;
    /* Optional: add display: flex; flex-wrap: wrap; if you want images side by side */
    display: flex;
     flex-wrap: wrap;
}

.d-baseline {
  display: baseline;
}

.d-top {
  display: block; margin-top: 0;
}




.img-text-pair {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 /* gap: 1rem;*/
  /*margin-bottom: 2rem;*/
}

#faded-reveal .hidden {
  display: none;
}

.fade-in {
  display: block !important;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.allinone-page .subtitle .text-right {
  color: #2D2A26;
  text-align: right;
  font-family: "Raleway";
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.allinone-page .h3 {
  color: #C1551C;
  text-align: right;
  font-family: "American Typewriter";
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.allinone-page .card {
  background: #fff;
  backdrop-filter: blur(8px);
  border: 1px solid #CA4040;
  border-radius: 16px;
  box-shadow: 10px 8px 8px rgba(202, 64, 64, .1);
  padding: 3rem;
}


.allinone-page .banner-container {
  height: auto;
  border-radius: 16px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.allinone-page .block-copy {
  margin-bottom: .5rem;
}

.allinone-page #proposal .block-title {

  margin:auto !important;
}


.allinone-page .block-title {
  color: #C1551C;
  font-family: 'american typewriter';
  line-height: 2.5rem;
  font-weight: 400;
  margin:1rem;
}

.allinone-page .block-subtitle {
	font-size: 1.25rem;
	font-weight: 200;
	line-height: 2rem;
	margin-bottom: 1rem;
  margin:3rem;
	white-space: wrap;
}




.allinone-page li {
	font-family: "Raleway";
	font-size: 14px;
	font-weight: 300;
	line-height: 1.2rem;
	color: #2D2A26;
	margin-right: .5rem;
}


.allinone-page .block-text-bold {
  font-weight: 500;
  color:#C1551C;
}

/* Only affects .block-title inside .allinone-page */
.allinone-page .block-subtitle {



  /* your custom color */
}

.allinone-page .toggle-btn {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #D06222;
  font-size: .8em;
  font-weight: 400;
  color: white;
  /* text color */
  border: none;
  /* no border */
  padding: 0.5rem 1rem;
  /* padding for the button */
  cursor: pointer;
  /* pointer cursor on hover */
  border-radius: 4px;
  margin-bottom: .1rem;
  font-family: "Raleway";
  max-width: 150px;
}

.allinone-page .button2 {
  box-sizing: border-box;
  display: inline-grid;
  flex-direction: row;
  justify-content: center;

  min-width: 72px;

  /* gap: 5px; */
  margin-top: 0;
  border-radius: 4px;
  border: none;
  background-color: #CA4040;
  /* your custom color */
  margin-bottom: 1rem;

}

.allinone-page .block-text-alt {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: .6rem;
  margin-top: .6rem;
  padding-left: 1rem;
  padding-right: .5rem;
  display: block;
}

.allinone-page .bold-text-li {
  color: #CA4040;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-family: 'american typewriter';
}

.allinone-page .bold-text {
  font-size: 17px;
  color: #C1551C;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: .5rem;
  font-family: 'american typewriter';
}

.allinone-page .block-text {
  color: #2D2A26;
}

.allinone-page .align-self {
  align-self: flex-start;
}


.allinone-page .page-nav a:nth-child(1):hover { 
  background: linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF; 
  border-radius: 5px;
}  /* overview */


.allinone-page .page-nav .submenu:nth-of-type(1) 
.submenu-item:nth-child(2):hover {
  background: linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF; 
  border-radius: 5px; /* proposal */
}

.allinone-page .page-nav .submenu:nth-of-type(1) 
.submenu-item:nth-child(3):hover {
  background:linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF; /* research */
}

.allinone-page .page-nav .submenu:nth-of-type(1) 
.submenu-item:nth-child(4):hover {
  background:linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF; border-radius: 5px; /* prototype */
}

.allinone-page .page-nav .submenu:nth-of-type(1) 
.submenu-item:nth-child(5):hover {
  background:linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF; border-radius: 5px;/*outcome*/
}

.allinone-page .page-nav .extra-solution:hover { background: #ebf4e5; border-radius: 5px; } /* extra solution */

.allinone-page .page-nav .reflections:hover { background: #4c93c388; border-radius: 5px; } /* reflections */