.hidden {
  display:none !important;
}

/* Flex */
.flex {
  display: flex
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-row {
    display: row;
}

flex-row {flex-direction: row-reverse;}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

/* Margins */
.mt-0 {
  margin-top: 0;
}

.mt--1 {
  margin-top: -1rem;;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-20 {
  margin-top: 5rem; /* to reduce some of the spacing */
}

.mt-40 {
  margin-top: 40rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-27 {
  margin-bottom: 6.75rem;
}

.mb-60 {
  margin-bottom: 15rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-12 {
  margin-right: 3rem;
}

/* Padding */
.p-0 {
  padding: 0;
}

.px-0 { /* xaxis is left right*/
  padding-left: 0rem;
  padding-right: 0rem;;
}

.px-1 { /* xaxis is left right*/
  padding-left: 1rem;
  padding-right: 1rem;;
}

.py-1 { /* yaxis is top bottom*/
  padding-top: 1rem;
  padding-bottom: 1rem;;
}

.p-6 {
  padding: 1.5rem;
}

.py-10 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pl-0 {
  padding-left: 0;
}

.pr-2 {
  padding-right: 2rem;
}

/* Typography */
.font-primary {
  font-family: 'american typewriter';
  font-optical-sizing: auto;
}

.font-secondary {
  font-family: 'Raleway';
  font-optical-sizing: auto;
}

.text-right {
  text-align: right;
}

.playfair-fontfamily {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Layout */
.col-3 {
  width: 25%;
}

/* Backgrounds */
.bg-grey {
  background-color: #F5F5F5;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.bg-blue {
  background-color: rgba(76, 147, 195, 0.534);

}

.bg-green {
  background-color: #ebf4e5;
}

.bg-red {
background: linear-gradient(0deg, rgba(193, 85, 28, 0.20) 0%, rgba(193, 85, 28, 0.20) 100%), #FFF;
}


.bg-grey-light {
  padding: 2.5rem;
  /*background-color: #F5F5F5;*/
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #eaeaea;
}


/* Borders/outlines */
.no-outline {
  outline: none;
}

/* Width */
.w-full {
  width: 100%;
}

.w-15 {
  width: 5%;
}

.w-35 {
  width: 35%;
}

.w-50 {
  width: 50%;
}

.w-65 {
  width: 65%;
}
