/* Flex */
.flex {
  display: flex
}

.flex-column {
  flex-direction: column;
}

.align-self-end {
  align-self: flex-end;
}

/* Margins */
.mt-0 {
  margin-top: 0;
}

.ml-auto {
  margin-left: auto;
}

/* Typography */
.font-primary {
  font-family: american typewriter;
}

.font-secondary {
  font-family: 'Raleway';
}

.text-right {
  text-align: right;
}